{
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {},
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "quotes": ["error", "single"],
        "semi": 1
    }
}
