@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

$roboto: 'Roboto Condensed', sans-serif;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $roboto;
    font-size: 52px;
    line-height: 62px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin-bottom: 40px;
}

.page__container {
    padding: 25px;
}

.playground__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.playground__content {
    margin: auto;
    padding-bottom: 25%;
    font-size: 52px;
    /* background-color: blue; */
    /* height: 50%; */
    /* width: 50%; */
    /* border: 3px solid lightgray; */
}
